@font-face {
  font-family: "BWGradual";
  src: url(/fonts/bwgradual_webfonts/BwGradualDEMO-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BWGradual";
  src: url(/fonts/bwgradual_webfonts/BwGradualDEMO-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BWGradual";
  src: url(/fonts/bwgradual_webfonts/BwGradualDEMO-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BWGradual";
  src: url(/fonts/bwgradual_webfonts/BwGradualDEMO-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BWGradual";
  src: url(/fonts/bwgradual_webfonts/BwGradualDEMO-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
