@font-face {
  font-display: swap;
  font-family: "Otfits Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/otfits-grotesk/Otfits%20Grotesk%20Reg%20Trial.otf) format("opentype")
}

@font-face {
  font-display: swap;
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dela-gothic-one/dela-gothic-one-v19-latin-regular.woff2") format("woff2")
}

@font-face {
  font-display: swap;
  font-family: "Colitez Serif";
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/colitez-serif/ColitezSerif-Italic.otf) format("opentype")
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/inter-v20-latin/inter-v20-latin-regular.woff2)format("woff2")
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/inter-v20-latin/inter-v20-latin-500.woff2)format("woff2")
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/inter-v20-latin/inter-v20-latin-600.woff2)format("woff2")
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/inter-v20-latin/inter-v20-latin-700.woff2)format("woff2")
}